body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
.main{
    background-image: url("imgs/top-banner.png");
    background-repeat:no-repeat;
}
section{
    padding-bottom: 150px;
    height: 360px;
}
.half h1{
      font-size: 35px;
      
}
.half p{
    font-size: 25px;
    color: teal;
}
.span{
    color: darkorange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg,#ffff00, #ffbf00);
    padding: 5px 10px;
    border-radius: 10%;
    font-weight: 700;
}
.half img{
    width: 100%;
}

.hal{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
    
}

.hal img{
    width: 100%;
    margin-top:-15%;
}
.dream{
    background-image: url("imgs/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.text{
    text-align: center;
    font-size: 30px;
    height: 30%;
}

.single-exprience{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
  
}
.final{
    background-image: url("imgs/exp-bg.png");
    background-repeat: no-repeat;
    bac
}