body{
    margin: 0;
}
.half h1{
      font-size: 35px;
      
}
.span{
    color: darkorange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.half img{
    width: 100%;
}